<div class="container film-view-content">
    <div class="film-view-image">
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}"  alt="">
    </div>
    <div class="film-view-description">
        <h2 class="film-view-name">{{original_title}}</h2>
        <div class="film-view-descriptions__block">
            <ul class="film-view-description__items">
                <li class="film-view-description__items--item">Vote / Votes</li>
                <li class="film-view-description__items--item">Popularity</li>
                <li class="film-view-description__items--item">
                    Original Title
                </li>
                <li class="film-view-description__items--item">Genre</li>
            </ul>
            <ul class="film-view-description__items-name">
                <li class="film-view-description__items-name--item">
                    <span class="film-view-description__items-name--item-orange">{{vote_average}}</span>
                    /{{vote_count}}
                </li>
                <li class="film-view-description__items-name--item">{{popularity}}</li>
                <li class="film-view-description__items-name--item">{{original_title}}</li>
                <li class="film-view-description__items-name--item">
                    {{#each this}}
                    <span>{{genres}}</span>
                    {{/each}}
                </li>
            </ul>
        </div>
        <h3 class="film-view-description--about">About</h3>
        <p class="film-view-description--about-text">{{overview}}</p>
        <div class="film-view-buttons">
            <button class="film-view-buttons--watched" type="button">
                add to Watched
            </button>
            <button class="film-view-buttons--queue" type="button">
                add to queue
            </button>
        </div>
    </div>
</div>